<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.prettygirl.superstar"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />

    <application
        android:name="com.prettygirl.superstar.SuperStarApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MActivity" >
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="51979a7a56240b0e6906b32a" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="gplay" />

        <activity
            android:name="com.prettygirl.superstar.SuperStarActivity"
            android:label="@string/app_name"
            android:theme="@style/MNoTitleActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.prettygirl.superstar.GalleryDetailActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.prettygirl.superstar.ImageEditorActivity"
            android:label="@string/app_name"
            android:theme="@style/MNoTitleActivity" >
        </activity>
        <activity
            android:name="com.prettygirl.superstar.PersonalInfoActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.google.ads.AdActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenLayout|uiMode|screenSize|smallestScreenSize" />
    </application>

</manifest>